@media only screen and (min-width: 350px) and (max-width: 1100px) {
  .shop {
    height: auto;
    .container {
      margin: 0;
      width: 100%;
      display: flex;
      flex-direction: column-reverse;

      .sec1 {
        height: auto;
        border: none;
        padding-left: 50px;
        form {
          display: flex;

          input {
            width: 100%;
          }
        }
      }
      .sec2 {
        margin: 50px 0 0 50px;
        width: 90%;
        padding-left: 0;
        height: auto;
        .posts {
          margin: 0;
          .back {
            display: none;
          }
        }
      }
    }
  }

  footer {
    .footer {
      height: 15vh;
      display: flex;
      flex-direction: column;
    }
  }
}

@media only screen and (min-width: 350px) and (max-width: 900px) {
  header {
    .nav {
      display: flex;
      justify-content: space-around;
      .menu {
        .fa-bars {
          font-size: 25px;
          display: block;
        }
        .fa-xmark {
          font-size: 25px;
        }
      }
      ul {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 350px) and (max-width: 800px) {
  .shop {
    height: auto;
    .container {
      margin: 0;
      width: 100%;
      display: flex;
      flex-direction: column-reverse;

      .sec1 {
        height: auto;
        border: none;
        padding-left: 50px;
        form {
          display: flex;

          input {
            width: 100%;
          }
        }
      }
      .sec2 {
        margin: 50px 0 0 50px;
        width: 90%;
        padding-left: 0;
        height: auto;
        .posts {
          margin-top: 30px;
          display: grid;
          grid-template-columns: auto auto;
          gap: 30px;
          .back {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 350px) and (max-width: 650px) {
  .shop {
    height: auto;
    .container {
      margin: 0;
      width: 100%;
      display: flex;
      flex-direction: column-reverse;

      .sec1 {
        height: auto;
        border: none;
        form {
          display: flex;
          input {
            width: 100%;
          }
        }
      }
      .sec2 {
        margin: 50px 0 0 60px;
        width: 80%;
        padding-left: 0;
        height: auto;
        .posts {
          margin: 30px 0;
          display: grid;
          grid-template-columns: auto;
          gap: 30px;
          .back {
            display: none;
          }
        }
      }
    }
  }
}

